
.create-view-container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    .blog-form{
        width: 50%;
    }
    .blog-preview{
        margin-left: 10px;
        width: 50%;
    }
}