
//Branding vars
$main-brand-colour :#4196ea;
$main-background-colour:rgb(41, 41, 41);

//General font vars
$main-header-font : 'Pacifico', cursive;
$main-font-colour: rgb(153, 154, 156);
$main-font-family: 'Titillium Web', sans-serif;
$main-link-colour: #778899;
$hover-link-colour: #526D87;