/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$main-brand-colour :"#4196ea";
$main-background-colour:rgb(41, 41, 41);

$main-header-font : 'Pacifico', cursive;
