/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/style/vars.scss";

html, body{
    margin: 0px;
    padding: 0px;
    height: 99%;
    width: 100%;
    background-color: $main-background-colour;
}

*{
    color: $main-font-colour;
    font-family: $main-font-family;
}
